.home-page {
  padding: 2rem 3rem;
  min-height: calc(100vh - 95px - 56px - 4rem);
}

.home-body {
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-body button {
  height: fit-content
}
