.profile-edit-page {
  padding: 2rem 3rem;
  min-height: calc(100vh - 95px - 56px - 4rem);
}

.profile-edit-page input[type="text"],
.profile-edit-page input[type="month"],
.profile-edit-page select {
  box-sizing: border-box;
  width: 300px;
  font-size: var(--font-h6);
  padding: 0.25rem 0.5rem;
  overflow-x: scroll;
  font-family: inherit;
}

.history-input p {
  display: flex;
}

.history-input select {
  flex-grow: 1;
}

.academic-info p,
.interests {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.interests > label,
.academic-info p > label,
.academic-summary p > label {
  font-size: var(--font-body);
  color: var(--primary-black);
}

.academic-info p > label,
.academic-summary p > label,
.interests > label {
  width: 100px;
}

.academic-summary p > label {
  text-align: left;
}

.interests-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;
}

.interests > label {
  align-self: flex-start;
}

.interests-input div {
  display: flex;
  width: 100%;
}

.interests-input input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.profile-edit-page .academic-history button {
  font-size: var(--font-h6);
  width: 125px;
  margin-left: calc(100% - 125px);
  text-align: center;
}