# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.egg-info/
.eggs/
*.egg
.env

# Static files
staticfiles/
media/

# Coverage reports
htmlcov/
coverage.xml
.coverage
.coverage.*

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# VS Code settings
.settings/

# macOS files
.DS_Store

# Pytest cache
.cache/
