.schedule-row {
  box-sizing: border-box;
  display: flex;
  width: 522px;
  gap: 5px;
  padding: 10px;
  border: var(--border-size) var(--border-table) solid;
}

.schedule-row .undo-button,
.schedule-row .remove-button {
  display: flex;
  align-items: center;
}

.schedule-row .undo-button:hover svg,
.schedule-row .remove-button:hover svg {
  fill: var(--primary-red);
}

.schedule-row svg {
  cursor: pointer;
  width: 14px;
}

.schedule-row .course-code {
  width: 80px;
}

.schedule-row .course-title {
  width: 350px;
}

.schedule-row .course-units {
  width: 60px;
  text-align: center;
}