.header-bar {
  background-color: var(--primary-beige);
  border-bottom: 0.25rem solid var(--primary-red);
}

.header-bar .logo {
  height: 3rem;
}

.header-bar .nav-link {
  color: var(--secondary-red);
}

.header-bar .nav-link:hover {
  color: var(--primary-red);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
