.planner-component {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.schedule-draggable {
  min-height: calc(5 * 41.5px);
  max-width: 542px;
  min-width: 522px;
}

.schedule-term {
  padding: 0.5rem;
}