.schedule-header {
  margin: 0 0.5rem;
  padding-top: 0.75rem;
}

.schedule-info {
  font-size: var(--font-h5);
  color: var(--primary-red);
  font-weight: var(--font-weight-headings);
}

.schedule-units {
  color: var(--text-paragraph);
  display: flex;
  align-items: flex-end;
}
