.schedule-header {
  margin: 1rem 0 0.5rem;
}

.schedule-info {
  font-size: var(--font-h5);
  color: var(--primary-red);
  font-weight: var(--font-weight-headings);
}

.schedule-units {
  color: var(--text-paragraph);
}