.schedule-row {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: var(--border-size) var(--border-table) solid;
}

.schedule-row .undo-button,
.schedule-row .remove-button {
  display: flex;
  align-items: center;
}

.schedule-row .undo-button:hover svg,
.schedule-row .remove-button:hover svg {
  fill: var(--primary-red);
}

.schedule-row svg {
  cursor: pointer;
  width: 0.8rem;
}

.schedule-row .course-code {
  width: 4.5rem;
}

.schedule-row .course-title {
  width: 22rem;
}

.schedule-row .course-units {
  width: 3.75rem;
  text-align: center;
}