.schedule-row {
  box-sizing: border-box;
  border: var(--border-size) var(--border-table) solid;
  width: 35rem;
}

.schedule-row-header {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.schedule-row-header:hover {
  background-color: var(--primary-lightgrey);
}

.schedule-row-body {
  display: flex;
  box-sizing: border-box;
  border-top: var(--border-size) var(--border-table) solid;
  padding: 0.5rem;
  width: 100%;
}

.schedule-row .show-button,
.schedule-row .remove-button {
  display: flex;
  align-items: center;
}

.schedule-row .show-button:hover svg,
.schedule-row .remove-button:hover svg {
  fill: var(--primary-red);
}

.schedule-row .show-button svg {
  transition: transform 0.3s ease;
}

.schedule-row .show-button svg.rotated {
  transform: rotate(180deg);
}

.schedule-row svg {
  cursor: pointer;
  width: 0.8rem;
}

.schedule-row .course-code {
  width: 4.5rem;
}

.schedule-row .course-title {
  width: 22rem;
}

.schedule-row .course-units {
  width: 3.75rem;
  text-align: center;
}