.student-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 28rem;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.student-form input[type="text"],
.student-form input[type="number"],
.student-form .react-dropdown-select {
  width: 100%;
  box-sizing: border-box;
  font-size: var(--font-h6);
  line-height: var(--font-h4);
  padding: 0.5rem;
}

.student-form .react-dropdown-select input {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.student-form .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.student-form .input-wrapper label {
  font-weight: bold;
}

.student-form .action-btns button {
  margin: 0 1.5rem;
}

.student-form .warning {
  color: var(--secondary-red);
  font-size: var(--font-disclaimer);
}