.course-page {
  padding: 2rem 3rem;
  min-height: var(--min-height-container);
}

.course-page .course-summary,
.course-page .course-reviews {
  max-width: 50rem;
}

.course-details .action-btns {
  display: flex;
  justify-content: left;
  margin: 0.5rem 0;
}

.course-reviews {
  margin-top: 2rem;
}
