.dashboard-page {
  padding: 2rem 3rem;
  min-height: var(--min-height-container);
}

.dashboard-page h2 {
  text-align: center;
}

.dashboard-page .schedule h4 {
  display: flex;
}

.dashboard-page .schedule h4 button.secondary {
  margin-left: auto;
}
