.dashboard-page {
  padding: 2rem 3rem;
  min-height: var(--min-height-container);
}

.dashboard-page .schedule {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6rem;
}

.dashboard-page .schedule h4 {
  display: flex;
  width: 100%;
}

.dashboard-page .schedule h4 button.secondary {
  margin-left: auto;
}
