.dashboard-edit-page {
  padding: 2rem 3rem;
  min-height: var(--min-height-container);
}

.dashboard-edit-header h4 {
  display: flex;
  width: 30rem;
}

.dashboard-edit-header h4 button.secondary {
  margin-left: auto;
}