.planner-page {
  padding: 2rem 3rem;
  min-height: var(--min-height-container);
  display: flex;
  column-gap: 6rem;
  flex-wrap: wrap;
}

.planner-page h4 {
  display: flex;
  width: 100%;
}

.planner-page h4 button.secondary {
  margin-left: auto;
}

.planner-page .add-course p {
  display: flex;
}

.planner-page .add-course select {
  flex-grow: 1;
  box-sizing: border-box;
  width: 22rem;
  font-size: var(--font-h6);
  padding: 0.25rem 0.5rem;
  overflow-x: scroll;
  font-family: inherit;
}

.planner-page .add-course p>label {
  font-size: var(--font-body);
  color: var(--primary-black);
  width: 6rem;
}