.planner-page {
  padding: 2rem 3rem;
  min-height: var(--min-height-container);
}

.planner-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem;
}

.planner-buttons button {
  margin: 1rem;
}