.profile-page {
  padding: 2rem 3rem;
  min-height: var(--min-height-container);
}

.academic-summary {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 6rem;
}

.academic-summary h4 {
  display: flex;
  align-items: center;
  width: 100%;
}

.academic-info p span,
.profile-info p span {
  color: var(--primary-black);
}