:root {
  font-family: 'Source Sans Pro', sans-serif;

  /* https://webdesign.wustl.edu/foundations/colors/palette/ */
  --primary-red: #a51417;
  --primary-darkgrey: #3d3d3d;
  --primary-lightgrey: #eeeeee;
  --primary-beige: #faf7ef;
  --primary-black: #000000;

  --secondary-red: #a51416d0;
  --secondary-yellow: #ffcc00;
  --secondary-turquoise: #2b8282;
  --secondary-blue: #005f85;

  --text-headings: #3d3d3d;
  --text-paragraph: #555;
  --text-white: #ffffff;

  --link-default: #d01c29;
  --link-hover: #a51417;
  --link-active: #a51417;

  --border-block: #c8c8c8;
  --border-table: #dadada;
  --border-separators: #c8c8c8;
  --border-size: 1px;

  --background-main: #ffffff;

  /* font size */
  --font-h1: 2.986rem;
  --font-h2: 2.488rem;
  --font-h3: 2.074rem;
  --font-h4: 1.728rem;
  --font-h5: 1.44rem;
  --font-h6: 1rem;
  --font-body: 1.2rem;
  --font-disclaimer: 1rem;
  --font-lead: 1.728rem;
  --font-quote: 1.44rem;

  /* font weight */
  --font-weight-lead: 300;
  --font-weight-headings: 600;
  --font-weight-default: 400;

  /* body component min height */
  --min-height-container: calc(100vh - 2.5rem - 3rem - 0.25rem - 2rem - 1.5rem - 4rem);
}

body {
  margin: 0;
  background-color: var(--background-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-headings);
  color: var(--text-headings);
  margin: 1rem 0;
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

h6 {
  font-size: var(--font-h6);
}

p {
  font-size: var(--font-body);
  color: var(--text-paragraph);
}

a {
  color: var(--link-default);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

button {
  font-size: var(--font-body);
  color: var(--text-white);
  background-color: var(--primary-red);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

button.secondary {
  background: none;
  border: none;
  color: var(--primary-red);
  font-size: var(--font-h6);
  font-weight: var(--font-weight-headings);
  margin-left: 1rem;
  padding: 0;
}

button.secondary:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

button.secondary:focus {
  outline: none;
}

button:disabled {
  background-color: var(--secondary-red);
  cursor: not-allowed;
}