:root {
  font-family: 'Source Sans Pro', sans-serif;

  /* https://webdesign.wustl.edu/foundations/colors/palette/ */
  --primary-red: #a51417;
  --primary-darkgrey: #3d3d3d;
  --primary-lightgrey: #eeeeee;
  --primary-beige: #faf7ef;
  --primary-black: #000000;

  --secondary-red: #a51416d0;
  --secondary-yellow: #ffcc00;
  --secondary-turquoise: #2b8282;
  --secondary-blue: #005f85;

  --text-headings: #3d3d3d;
  --text-paragraph: #555;
  --text-white: #ffffff;

  --link-default: #d01c29;
  --link-hover: #a51417;
  --link-active: #a51417;

  --border-block: #c8c8c8;
  --border-table: #dadada;
  --border-separators: #c8c8c8;
  --border-size: 1px;

  --background-main: #ffffff;

  /* font size */
  --font-h1: 2.986rem;
  --font-h2: 2.488rem;
  --font-h3: 2.074rem;
  --font-h4: 1.728rem;
  --font-h5: 1.44rem;
  --font-h6: 1rem;
  --font-body: 1.2rem;
  --font-disclaimer: 1rem;
  --font-lead: 1.728rem;
  --font-quote: 1.44rem;

  /* font weight */
  --font-weight-lead: 300;
  --font-weight-headings: 600;
  --font-weight-default: 400;

  /* body component min height */
  --min-height-container: calc(100vh - 2.5rem - 3rem - 0.25rem - 2rem - 1.5rem - 4rem);
}

body {
  margin: 0;
  background-color: var(--background-main);
}

button.secondary,
.button-secondary {
  background: none;
  border: none;
  color: var(--primary-red);
  font-size: var(--font-h6);
  font-weight: var(--font-weight-headings);
  margin-left: 1rem;
  padding: 0;
  cursor: pointer;
}

button.secondary:hover,
.button-secondary:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

button.secondary:focus,
.button-secondary:focus {
  outline: none;
}

button:disabled {
  background-color: var(--secondary-red);
  cursor: not-allowed;
}

.input-wrapper {
  gap: 0.25rem;
  width: 100%;
}

.input-wrapper label {
  font-weight: bold;
}